<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>文章详情页</title>
</head>
<body>
（假设一个粗糙的博客详情页，有文章内容和评论列表，为了演示ajax）
<div>{{ article }}</div>
<hr>
<div>
  <ul id="comment">
  {% for comment in comment_list %}
    <li>{{ comment }}</li>
  {% endfor %}
  </ul>
  <button id="fresh">刷新评论</button>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
  // 原生js ajax xml，写起来比较麻烦，有兴趣课下参考
  // jquery ajax
  $('#fresh').click(function () {
      $.ajax({
          type: 'get',
          url: 'http://127.0.0.1:5000/comments',
          data: {},
          success: function(data){
              // 回调函数  成功
              console.log(data);
              // json转数组，循环，操作节点
              var jsonObj = JSON.parse(data);
              $('#comment').empty();
              for(var i=0; i<jsonObj.length; i++){
                  console.log(jsonObj[i]);
                  $('#comment').append('<li>'+jsonObj[i]+'</li>');
              }
          },
          error: function () {
              console.log('请求失败')
          }
      })
  })
</script>
</body>
</html>